openpyxl==3.0.10
pandas==1.3.5
requests==2.31.0
aiohttp==3.9.5
python-dateutil==2.8.2
loguru==0.7.2
cacheout==0.14.1
redis==5.0.1
python-memcached==1.62
pytest==7.3.1
pydantic==2.1.1
sqlalchemy[asyncio]==2.0.20
aiomysql==0.2.0
minio==7.1.17
asgiref==3.8.1
nest_asyncio==1.6.0
tqdm==4.66.4